{% extends 'base.html' %}

{% block title %}Prompt Optimization Web App{% endblock %}

{% block content %}
<div class="text-center">
  <h1>Welcome to the <strong>Prompt Optimizer</strong> Web App!</h1>
  <p>Select a mode below, and the app will help you craft better prompts and <strong>optimize</strong> your experience with ChatGPT, Claude, Gemini, or any other web-based AI system you like:</p>
  <div class="d-grid gap-3 col-6 mx-auto">
    <a href="/quick" class="btn btn-lg text-white" style="background-color:  #2f2f2f;">Quick mode</a>
    <a href="/interactive" class="btn btn-lg text-white" style="background-color: #6c757d;">Interactive mode</a>
  </div>

<br>

<p class="mt-3 mb-0 small">
  <a
    href="https://chromewebstore.google.com/detail/prompt-optimizer/gpaojnfkcmokjkmaeflkooabeiofhlbk"
    class="text-decoration-none link-dark small"
    target="_blank"
    rel="noopener"
  >
    <span class="badge bg-warning text-dark me-2">NEW!!</span>
    <u>Click here</u> to download and try the beta version of the <strong>Prompt Optimizer Google Chrome extension</strong>
    and optimize your prompts directly on the official ChatGPT, Claude, or Gemini websites.
  </a>
</p>
</div>

{% endblock %}